* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {

  background-color: #F5F5F5;
}

.container_1 {
  display: block;
  position: relative;
}



/* SELECTION TOOL */
::selection {
  background-color: white;
  color: black;
}

/* SCROLL BAR SECTION*/
::-webkit-scrollbar {
  display: none;
}


/* header start  */

header {
  min-height: 480px;
  width: 100%;
}

.fixed {
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: #232f3e;
}

/* UPPER HEADER  */
.upper {
  position: relative;
  background-color: #232f3e;
  height: 60px;
  color: white;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.options_1 {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.home {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.A1 {
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
}

.A1:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: #fff;
  outline: 0;
}



.shop {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 700;
}

.A2 {
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
}

.A2:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: #fff;
  outline: 0;
}



.about {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 700;
}

.A3 {
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
}

.A3:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: #fff;
  outline: 0;
}


.section_title {
  text-transform: uppercase;
  text-align: center;
  margin-top: -11.1px;
  font-weight: 700;
}

.options_2 {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.contact {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.A4 {
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
}

.A4:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: #fff;
  outline: 0;
}



.sign_up {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.A5 {
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
}

.A5:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: #fff;
  outline: 0;
}

.sign_in {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.A6 {
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
}

.A6:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: #fff;
  outline: 0;
}

/* lower HEADER */
.lower {
  background-color: #131921;
  height: 90px;
  max-height: 100%;
  max-width: 100%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.Digital_Emporium_logo {
  width: 42%;
  margin-top: 0px;
}

/* SEARCH*/
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  margin-left: -165px;
  flex-wrap: nowrap;
  margin-right: -87px;
}

.search__input {
  width: 650px;
  height: 40px;
}


.search__button {
  height: 39.6px;
  border: none;
  margin-left: -80px;
  background-color: #232f3e;
}

.search__icon {
  width: 80px;
  margin-top: 1px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: large;
}


.search__button:hover {
  background-color: rgb(36, 47, 83);
}

/* OWNER  */
.owner_img {
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;

}

.Owner_name {
  width: 265px;
  font-size: x-small;
  margin-right: -92px;
}

.img_photo {
  height: 37.7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 14px;
  margin-top: -8.5px;
}

/* CONTACT ME   */
.contact_container {
  margin-bottom: 122px;
  margin-top: -256px;
}

.contact_heading {
background-color: #232f3e;
text-align: center;
font-style: italic;
color: #fff;
}

form{
  color: black;
  text-align: center;
  padding: 58px;
}

.Name_and_Email{
  display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.name_container {
  padding-bottom: 44px;
}


label.name {
  float: left;
  padding-bottom: 12px;
}

input.name_input {
  height: 95%;
  width: 300px;
  padding-left: 18px;
}


label.email {
  float: left;
  padding-bottom: 12px;
}

input.email_input {
  height: 47%;
  width: 300px;
  padding-left: 18px;
}


.Subject_and_Message{
  display: flex;
justify-content: space-around;
}
 
label.subject {
  float: left;
  padding-bottom: 12px;
}

input.subject_input {
  height: 39%;
  width: 300px;
  padding-left: 18px;
}


label.message {
  float: left;
  padding-bottom: 12px;
}

textarea.message_textarea {
  height: 102px;
  width: 300px;
  padding-left: 18px;
  font-size: 18px;
}



.btn{
  text-align: center;
  padding-top:72px;
  margin-bottom: -67px;
}

.button{
  cursor: pointer;
  font-size: 17px;
  background-color: #232f3e;
  width: 170px;
  height: 37px;
  border-radius: 10px;
  text-transform: uppercase;
color: #fff;
border: none;
}

.button:hover {
  transition: .4s;
  background-color: rgb(36, 47, 83);
  box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
}

/* FOOTER SECTION */


.container {
  display: flex;
  justify-content: space-between;
  background-color: #232f3e;
  flex-wrap: wrap;
color: #fff;
    padding: 13px;
}
.heading3{
font-style: oblique;
}

.heading4{
  font-style: oblique;
}

.heading5{
  font-style: oblique;
}

.heading6{
  font-style: oblique;
}

.F1_a{
  padding: 8px 10px 8px 10px;
  border: 1px solid transparent;
  color: #fff;
text-decoration: none;
font-weight: bold;
font-style: italic;
}

.F1_a:hover{
  padding: 8px 10px 8px 10px;
  border: 1px solid #fff;
}

.B4{
    padding-bottom: 8px;
    border-right: 7px solid transparent;
}

.B4:hover{
    padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}



.B5{
    padding-bottom: 8px;
    border-right: 7px solid transparent;
}

.B5:hover{
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}


.B6{
  padding-bottom: 8px;
    border-right: 7px solid transparent;
}

.B6:hover{
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}

.Container_categories {
  width: 20%
}

.accessories {
  padding-top: 12px;
}

.kitchen {
  padding-top: 12px;
}

.beauty_products {
  padding-top: 12px;
}

.kids_products {
  padding-top: 12px;
}

.organizers {
  padding-top: 12px;
}

.household’s_items {
  padding-top: 12px;
}

.cutlery {
  padding-top: 12px;
}

.clock {
  padding-top: 12px;
}


.dispenser {
  padding-top: 12px;
}

.Container_My_Accounts {
  width: 20%;
}


.Container_Sign_in {
  padding-top: 12px;
}


.Container_Sign_up {
  padding-top: 12px;
}
.Container_Contact_Us {
  width: 20%;
}


.Container_Phone_no {
  padding-top: 12px;
}


.Container_email {
  padding-top: 12px;
}

.Container_Follow_Us {
  width: 20%;
}


.Phone_no {
  padding-top: 12px;
}

.whatsapp_img {
  width: 10%;
}


.Facebook_icon {
  padding-top: 12px;
}

.Facebook_img {
  width: 10%;
}


.Instagram_icon {
  padding-top: 12px;
}

.Instagram_img {
  width: 10%;
}

.Container_img {
  width: 10%;
}

.logo_img {
  width: 100%;
  cursor: pointer;
}

.QR_img {
  width: 30%;
float: right;
    margin-top: -84px;
}

.footer_2 {
  background-color: #131921;
  height: 30px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

/* COPY RIGHT */
.heading7 {
  text-align: center;
    font-size: 18px;
}




.copy_right {
  color: white;
  text-decoration: none;
}