@media (min-width: 1500px) {

  .Digital_Emporium_logo {
    width:40%;
  }

  .search {
    margin-right: 37%;
  }

}

@media (min-width: 1430px) {
  .search {
    margin-right: 145px;
  }
}

@media (min-width: 1400px) {
  .search {
    margin-right: 118px;
  }
}

@media (max-width: 1300px) {
  .search__input {
    width: 570px;
  }
}
 
@media (max-width: 1200px) {

  .Digital_Emporium_logo {
    width: 40%;
  }


  .search {

    margin-right: -94px;
  }

 

}


@media (max-width: 1157px) {
  .search {
      margin-right: -72px;
  }

  .search__input {
    width: 517px;
  }

 }
  
@media (max-width: 1051px) {
  .search {
      margin-right: -75px;
  }

  .search__input {
    width: 460px;
  }


  .owner_img {
    margin-top: 20px;
    width: 99%;
  }

 
   
}

@media (max-width: 1000px) {
  .upper {
    flex-direction: column;
       flex-direction: column;
      height: 122px;
      padding: 9px;
  }

  .search__input {
    width: 425px;
  }


  .contact_container {
     margin-top: -209px;
}



  .container {
    flex-direction: column;
    padding-bottom: 59px;
  }

  .Container_My_Accounts {
    margin-top: 26px;
  }


  .Container_Contact_Us {
    margin-top: 26px;
  }


  .Container_Follow_Us {
    width: 29%;
    margin-top: 26px;
  }

  .Container_img {
    margin-top: 26px;
  }

  .QR_img {
    width: 8%;
    float: left;
    margin-top: 26px;

  }

}


@media (max-width:980px) {

  .search {
    margin-right: -89px;
  }
}

  

@media (max-width:900px) {
.search__input {
  width: 406px;
}

.Owner_name {
   margin-right: -109px;
}

}  

@media (max-width:880px) {
.Owner_name {
   margin-right: -112px;
}

.owner_img {
  margin-top: 5px;
}
.img_photo {
  height: 34.7px;
}
}
@media (max-width:850px) {

  .search {
    margin-right: -53px;
}

  .search__input {
    width: 372px;
  }

  .Paragraph {
       font-size: 19px;
  }

}


@media (max-width:830px) {

  .owner_img {
     width: 100%;
}

.Owner_name {
  width: 265px;
  font-size: x-small;
  margin-right: -111px;
}
}
 
 
@media (max-width:790px){
.Owner_name {
   font-size: 8px;
  margin-right: -141px;
}
}


@media (max-width:780px) {
  .upper {
     height: 106px;
    padding: 9px;
}

  

.home {
     font-size: 14px;
}

.shop{
     font-size: 14px;
}

.about{
     font-size: 14px;
}

.section_title {
     font-size: 11px;
}


.contact{
  font-size: 14px;
}


.sign_up{
  font-size: 14px;
}

.sign_in{
     font-size: 14px;
}

.lower {
  flex-direction: column;
 text-align: center;
  justify-content: space-between;
   height: 166px;
     padding: 12px;
  }



  .Digital_Emporium_logo {
    width: 25%;
}

.search {
  margin-right: -185px;
  padding-top: 16px;
}

.search__input {
   height: 29px;
    font-size: 13px;
  }

.search__button {
  height: 29.6px;
}
.Owner_name {
   margin-right: -71px;
}
.owner_img {
  margin-top: -32px;
}

.img_photo {
   margin-right: 81px;
}

.contact_container {
  margin-top: -156px;
}

}  
 
 
@media (max-width:738px) {
.Container_categories {
  width: 25%;
}

.Container_My_Accounts{
  width: 25%;
}

.Container_Contact_Us {
  width: 25%;
}

.Container_Follow_Us {
  width: 25%;
}


}

@media (max-width: 730px){
  .contact_container {
    margin-top: -123px;
}

  .Name_and_Email{
flex-direction: column;
align-items: center;
}

label.name {
  float: revert;
}

input.name_input {
  height: 44px;
  margin-top: 18px;
}

.email_container {
  padding-bottom: 44px;
}



label.email {
  float: revert;
}

input.email_input {
  height: 44px;
  margin-top: 18px;
}

.Subject_and_Message{
  flex-direction: column;
  align-items: center;
}


.subject_container {
  padding-bottom: 44px;
}


label.subject {
  float: revert;
}

  input.subject_input {
    height: 44px;
    margin-top: 18px;
   }

   label.message {
    float: revert;
}

textarea.message_textarea {

margin-top: 18px;
}
}
 
@media (max-width:669px){ 
.heading7 {
   font-size: 15px;
}
 
} 

@media (max-width:633px) {
  .Container_My_Accounts {
    width: 25%;
  }
}
  
@media (max-width:630px) {
  
  .heading7 {
   font-size: 14px;
}
}
 
@media (max-width:595px) {
  .Container_categories {
    width: 30%;
  }
  
  .Container_My_Accounts{
    width: 30%;
  }
  
  .Container_Contact_Us {
    width: 30%;
  }
  
  .Container_Follow_Us {
    width: 30%;
  }
  
  
}
 
  
@media (max-width:500px) {
  
.lower {
     height: 182px;
}

 

  .search__input {
    width: 327px;
    height: 31px;
}
 
.search__button {
  height: 31.6px;
}
.search__icon {
   font-size: 13px;
}
  
.Container_categories {
  width: 40%;
}

.Container_My_Accounts{
  width: 40%;
}

.Container_Contact_Us {
  width: 40%;
}

.Container_Follow_Us {
  width: 40%;
}
.heading7 {
  font-size: 12px;
}
} 
 

@media (max-width:400px) {
  .Digital_Emporium_logo {
    width: 24%;
}
 
.search__input {
  width: 288px;
  height: 25px;
}

.search__button {
  height: 25.6px;
}

.search__icon {
  font-size: 11px;
}

.Owner_name {
  width: 222px;
  font-size: 8px;
}
.img_photo {
  height: 32.7px;
  margin-right: 20px;
}

.owner_img {
  margin-right: 27px;
}

}

@media (max-width:390px) {
     
  .name_container {
     margin-left: -23px;
}

.email_container {
   margin-left: -23px;
}

.subjet_container {
   margin-left: -23px;
}

.message_container {
   margin-left: -23px;
}

.btn{
  margin-left: -32px;
}

.Container_categories {
  width: 100%;
}

.Container_My_Accounts{
  width: 100%;
}

.Container_Contact_Us {
  width: 100%;
}

.Container_Follow_Us {
  width: 100%;
}

.Container_img {
  width: 21%;
}
}

@media (max-width:380px) {
  .lower {
    height: 169px;
}

  .message_container {
    margin-left: 11px;
}

.btn {
  margin-left: 21px;
}



}

@media (max-width: 370px) {
  

.QR_img {
  width: 30%;
 }

}

@media (max-width: 350px){
.home {
    font-size: 12px;
}

.shop {
  font-size: 12px;
}

.about {
  font-size: 12px;
}

.section_title {
  font-size: 9px;
}

.contact {
  font-size: 12px;
}

.sign_up {
  font-size: 12px;
}

.sign_in {
  font-size: 12px;
}
   
}

@media (max-width: 348px) {
  .heading1 {
   width: 349px;
  }
  .heading7 {
    font-size: 8px;
}

.footer {
  width: 349px;
} 

}

@media (max-width: 340px) {
.contact_heading {
   width: 349px;
}


.name_container {
  margin-left: -42px;
}

.email_container {
  margin-left: -42px;
}
 

}
 
@media (max-width: 325px) {
.heading7 {
  font-size: 10px;
}
}